/*FONT IMPORTING*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.poppins {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*COLORS and SHARED ITEMS*/
.color1 {
  color: #3a3a3a;
}
/*HEADER STYLING (1) - (Navigation Bar)*/
body {
  margin: 0;
}
header {
  max-width: 1200px;
  margin: 0 auto;
  display: none;
}

.brand-name {
  font-size: 1.5rem;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin-top: 82px;
}
.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2.12rem;
  margin-top: 0;
}
.navbar-items a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
}
.navbar-items a:hover {
  text-decoration: underline;
}
/*Banner Part*/
.banner-title {
  font-weight: bold;
  font-size: 3.25rem;
  margin: 0;
  line-height: 70px;
}
.banner-description {
  font-weight: 600;
}
.banner-button {
  background-color: #e02c6d;
  border-radius: 41px;
  color: white;
  padding: 10px 24px;
  border: none;
  font-weight: bold;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
}
.banner-img {
  background-image: url("images/Circle\ design.svg");
  background-repeat: no-repeat;
  width: 475px;
  height: 475px;
  border: 1px solid;
}
.banner-img img {
  width: 440px;
}
.banner-content {
  width: 582px;
}
/*Header last part - logos*/

/*HEADER RESPONSIVE*/
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    margin-top: 35px;
  }
  .brand-name {
    font-size: 1rem;
    font-weight: bold;
  }
  .navbar-items a {
    font-size: 0.875rem;
  }
  .navbar {
    flex-direction: column;
    padding: 0;
    gap: 0.4rem;
  }
  .banner {
    margin-top: 22px;
    flex-direction: column-reverse;
  }

  .banner-title {
    font-size: 1.75rem;
    line-height: 1.5;
  }
  .banner-content {
    text-align: center;

    font-size: 0.875rem;
    margin-top: 20px;
  }
  .banner-button {
    font-weight: 500;
  }
}
main {
  max-width: 1047px;
  margin: 0 auto;
}
/*PRODUCT COLLECTION SECTION*/
.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.75rem;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.cards {
  border-radius: 5px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
  padding: 16px;
}
.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgba(24, 25, 31, 1);
  margin: 8px 0 6px 0;
}
.price {
  font-size: 1.5rem;
  font-family: "inter", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  line-height: 150%;
  margin: 0;
}
.rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.rating-text {
  font-weight: bold;
  font-size: 0.875rem;
  color: rgba(94, 99, 102, 1);
  margin: 0;
}
.product-description {
  font-size: 0.875rem;
  font-weight: bold;
  color: rgba(120, 120, 133, 1);
  font-family: "inter", sans-serif;
  line-height: 143%;
  margin: 0;
}
.see-more {
  text-align: right;
  font-weight: bold;
  color: rgba(224, 44, 109, 0.87);
  margin: 50px 0 0;
}
